<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actividad 3</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white p-3">
      <div class="container">
        <h1 class="text-center">Buscador de Productos</h1>
        <p class="text-center">Encuentra los mejores productos al mejor precio</p>
      </div>

    </header>

    <router-outlet> </router-outlet>

  <main class="container mt-4">
    <h2>Soy el main</h2>
    <app-product-list></app-product-list>
  </main>

    <footer class="bg-dark text-white text-center py-4 mt-5">
      <div class="container">
        
        <p class="mb-0">© 2025 MiEmpresaFalsa. Todos los derechos reservados.</p>
        <p class="mb-0">"Contacto: contacto.miempresafalsa.com</p>
        <div class="mt-3">
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i> Twitter</a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a>
        </div>
      </div>
    </footer>
  

  <!-- Bootstrap JS (opcional, si necesitas interacciones más avanzadas) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
